<form
  class="contact-detail-form"
  (ngSubmit)="savePhoneBook()"
  [formGroup]="contactDetailForm"
  #form="ngForm"
>
  <!-- First Name -->
  <mat-form-field>
    <mat-label> First Name </mat-label>
    <mat-icon matPrefix>people</mat-icon>
    <input
      id="firstName"
      name="firstName"
      placeholder="First Name"
      formControlName="firstName"
      data-cy="firstName"
      required
      matInput
    />

    <mat-error
      data-cy="valid-firstName"
      *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
    >
      <mat-error *ngIf="firstName.errors?.['minlength']">
        First Name must be at least 2 characters
      </mat-error>
    </mat-error>
  </mat-form-field>
  <!-- Phone Number -->
  <mat-form-field class="form-element" appearance="fill">
    <mat-label> Phone Number </mat-label>
    <mat-icon matPrefix>phone</mat-icon>
    <input
      id="phoneNumber"
      type="text"
      name="phoneNumber"
      placeholder="555-555-1234"
      formControlName="phoneNumber"
      data-cy="phoneNumber"
      required
      matInput
    />
  </mat-form-field>
  <mat-error
    data-cy="valid-phoneNumber"
    *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
  >
    <mat-error *ngIf="phoneNumber.errors?.['pattern']">
      Please, Enter 10 digit Mobile Number
    </mat-error>
  </mat-error>
  <!-- Select Gender -->
  <mat-form-field class="form-element" appearance="fill">
    <mat-label>Select gender</mat-label>
    <mat-select
      #mySelect
      required
      formControlName="gender"
      (change)="onGenderSelected(mySelect.value)"
    >
      <mat-option
        *ngFor="let genderItem of genderItems$ | async"
        [value]="genderItem"
      >
        {{ genderItem }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Button Save -->
  <button
    id="saveContactDetail"
    type="submit"
    (click)="savePhoneBook()"
    [disabled]="!contactDetailForm.valid"
    data-cy="save-button"
    mat-raised-button
  >
    Save
  </button>
</form>
