<form class="contact-detail-form" (ngSubmit)="savePhoneBook()" [formGroup]="contactDetailForm" #form="ngForm">
  <!-- First Name -->
  <mat-form-field>
    <mat-label> First Name </mat-label>
    <mat-icon matPrefix>people</mat-icon>
    <input matInput type="text" formControlName="firstName" data-cy="firstName" />
  </mat-form-field>
  <!-- Phone Number -->
  <mat-form-field>
    <mat-label> Phone Number </mat-label>
    <mat-icon matPrefix>phone</mat-icon>
    <input matInput type="text" formControlName="phoneNumber" data-cy="phoneNumber" />
  </mat-form-field>
  <!-- Select Gender -->
  <mat-form-field class="form-element">
    <mat-label>Select gender</mat-label>
    <mat-select #mySelect formControlName="gender" (change)="onGenderSelected(mySelect.value)">
      <mat-option *ngFor="let genderItem of genderItems$ | async" [value]="genderItem">
        {{ genderItem }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Button Save -->
  <button id="saveContactDetail" type="submit" (click)="savePhoneBook()" [disabled]="!contactDetailForm.valid"
    data-cy="save-button" mat-raised-button>
    Save
  </button>
</form>
