<div class="contact-detail">
  <mat-card>
    <mat-card-content>
      <h2>Search All Contact Details</h2>
      <mat-form-field appearance="fill">
        <!-- Search Input -->
        <input
          matInput
          type="text"
          placeholder="Type your search"
          [(ngModel)]="searchInput"
          (input)="onSearchItems($event)"
          autocomplete="off"
        />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <!-- Display data here -->
      <ng-container>
        <table class="contacts-table mat-elevation-z7">
          <thead>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Gender</th>
          </thead>
          <tr class="contact-row" *ngFor="let item of filteredItems$ | async">
            <td class="contact-table-cell">{{item.firstName}}</td>
            <td class="contact-table-cell">{{item.phoneNumber}}</td>
            <td class="contact-table-cell">{{item.gender}}</td>
          </tr>
        </table>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
