<div class="container">
  <div data-cy="welcome-component" class="header">
    <app-header [title]="title" [logoName]="logoName"></app-header>
  </div>

  <div data-cy="contact-detail" class="contact-details">
    <contact-detail-container></contact-detail-container>
  </div>
</div>

<!-- <mat-form-field appearance="fill">
  <mat-label>Select gender</mat-label>
  <mat-select>
    <mat-option [value]="1"> 1 </mat-option>
    <mat-option [value]="1"> 1 </mat-option>
  </mat-select>
</mat-form-field> -->
