<div class="row justify-content-center my-5">
  <div class="col-4">
    <form
      (ngSubmit)="savePhoneBook()"
      [formGroup]="phoneBookForm"
      #form="ngForm"
    >
      <div class="row">
        <div class="col mb-2 d-grid">
          <input
            type="text"
            id="firstName"
            name="firstName"
            formControlName="firstName"
            placeholder="First Name"
            required
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="
              firstName.invalid && (firstName.dirty || firstName.touched)
            "
          />
          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="firstName.errors?.['minlength']">
              First Name must be at least 2 characters
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2 d-grid">
          <input
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            formControlName="phoneNumber"
            placeholder="Phone"
            required
            minlength="1"
            maxlength="250"
            [class.is-invalid]="
              phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
            "
          />
          <div
            *ngIf="
              phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
            "
            class="invalid-feedback"
          >
            <div *ngIf="phoneNumber.errors?.['pattern']">
              Please, Enter 10 digit Mobile Number
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2 d-grid">
          <button
            type="button"
            class="btn btn-sm btn-primary"
            (click)="savePhoneBook()"
            [disabled]="!phoneBookForm.valid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="phoneBookList != null && phoneBookList.length > 0">
    <ol>
      <li *ngFor="let i of phoneBookList">
        First name: {{ i.firstName }} - phone number {{ i.phoneNumber }}
      </li>
    </ol>
  </div>
</div>
